body {
  font-size: 14px;
  background-color: #0c122c;
  color: #ffffff;
  font-family: Raleway, sans-serif;
  height: 100vh;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 50px auto;
  height: 100vh;
}

#logo {
  height: auto;
  width: 150px;
  margin: 15px;
}

.selection {
  min-height: 150px;
  width: 80%;
  background-color: #1d2c67;
  padding: 15px;
  border-radius: 15px 100px 15px 15px;
}

.icones {
  margin: 15px;
  width: 100%;
}

.icone {
  display: inline-block;
  margin-right: 15px;
  height: 50px;
  width: 50px;
  background-color: #0c122c;
  border-radius: 15px;
}

.icone:hover {
  background-color: #e2e0ff;
}

.icone > img {
  width: 24px;
  height: 20px;
  margin: 25% 25%;
}

.loading {
  margin-top: 25px;
  min-height: 140px;
  width: 80%;
  background-color: #1d2c67;
  padding: 15px;
  border-radius: 15px;
  font-size: 1.0rem;
  position: relative;
}

.loading > p {
  text-align: center;
}

.gb-used {
  font-weight: 700;
}

/*legende slider*/
.zero-gb {
  float: left;
}

.total-gb {
  float: right;
}

.gb-left-encart {
  color: #0c122c;
  background-color: #ffffff;
  width: 55%;
  height: 50px;
  border-radius: 15px;
  color: #848794;
  text-transform: uppercase;
  font-weight: 700;
  position: absolute;
  bottom: -20%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 10px;
  text-align: center;
}

.gb-left {
  color: #0c122c;
  font-size: 2.5rem;
  font-weight: 700;
  margin: 5px;
}

/*Styling slider*/
input[type=range] {
  -webkit-appearance: none;
  /* Hides the slider so that custom slider can be made */
  width: 100%;
  /* Specific width is required for Firefox. */
  background: transparent;
  /* Otherwise white in Chrome */
  overflow: hidden;
  border-radius: 15px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none;
  /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  /* Hides the slider so custom styles can be added */
  background: transparent;
  border-color: transparent;
  color: transparent;
}

/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  background: #ffffff;
  cursor: pointer;
  margin-top: 0px;
  /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  -webkit-box-shadow: -37px 0px 15px 30px #ffa329, -74px 0px 15px 60px #ff9933, -111px 0px 15px 90px #ff8f3d, -148px 0px 15px 120px #ff8547, -185px 0px 15px 150px #ff7b51, -222px 0px 15px 180px #ff715b, -259px 0px 15px 210px #ff6765, -296px 0px 15px 240px #ff5d6f, -333px 0px 15px 270px #ff5379, -370px 0px 15px 300px #ff4983, -407px 0px 15px 330px #ff3f97, -1200px 0px 15px 1170px #FF4D97;
          box-shadow: -37px 0px 15px 30px #ffa329, -74px 0px 15px 60px #ff9933, -111px 0px 15px 90px #ff8f3d, -148px 0px 15px 120px #ff8547, -185px 0px 15px 150px #ff7b51, -222px 0px 15px 180px #ff715b, -259px 0px 15px 210px #ff6765, -296px 0px 15px 240px #ff5d6f, -333px 0px 15px 270px #ff5379, -370px 0px 15px 300px #ff4983, -407px 0px 15px 330px #ff3f97, -1200px 0px 15px 1170px #FF4D97;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 15px;
  cursor: pointer;
  background: #0c122c;
  border-radius: 15px;
}

/*Phone*/
@media screen and (max-width: 375px) {
  body {
    background-image: url(images/bg-mobile.svg);
    background-position: center;
    background-repeat: repeat-y;
    background-size: cover;
  }
}

/*Desktop*/
@media screen and (min-width: 376px) {
  body {
    background-image: url(images/bg-desktop.svg);
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
  }
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 50px auto;
    height: 100vh;
  }
  .selection {
    width: 350px;
    margin: 0px 10px;
  }
  .loading {
    width: 550px;
    margin: 0px 10px;
    padding: 10px;
  }
  .gb-left-encart {
    width: 200px;
    position: absolute;
    top: -30%;
    right: 0%;
    -webkit-transform: translateX(20%);
            transform: translateX(20%);
    border-radius: 15px 15px 0px 15px;
  }
  .gb-left-encart:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0%;
    width: 0;
    height: 0;
    border: 45px solid transparent;
    border-top-color: #ffffff;
    border-bottom: 0px;
    border-right: 0;
    margin-left: -20px;
    margin-bottom: -20px;
  }
}
/*# sourceMappingURL=style.css.map */